/* Import Font */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* Body and Typography */
body {
  color: #333;
  font-size: 18px;
}

a {
  color: #15113f;
}

.text-center {
  text-align: center;
}

/* Navbar */
nav {
  background: #fff;
  height: 64px;
  position: relative;
  z-index: 2;
}

nav.thin {
  display: block;
  position: fixed;
  top: 0;
  z-index: 2;
}

.name-title {
  display: block;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
}

.name-title > span,
.name-title > a {
  position: relative;
  line-height: 24px;
}

.name-title a {
  font-size: 30px;
  display: block;
}

.name-title span {
  display: block;
  font-size: 19px;
}

/* Main Content */
main {
  padding-top: 64px;
  /* position: relative;
  z-index: 1; */
}

.container {
  width: 95%;
  margin: 0 auto;
}

h3 {
  font-weight: 200;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: uppercase;
}

.full-height {
  height: 100vh;
}

/* Intro Section */
#intro.section {
  background: #231d68 repeat;
  position: relative;
  /* The below is to ensure it fills the page */
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
  padding-bottom: 64px;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: relative;
}

#intro.section .container *:not(span) {
  font-weight: 300;
  line-height: 150%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#intro.section .underline {
  border-bottom: 5px solid #24305e;
}

#intro.section .teal {
  padding: 0 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Teal Color */
.teal-text {
  color: #0600c6 !important;
}

.teal {
  background-color: #0600c6 !important;
}

/* Responsive Styles */
@media (max-width: 992px) {
  main {
    padding-left: 0px;
    padding-top: 64px;
  }

  nav {
    background: #fff;
    height: 64px;
    position: absolute;
  }

  nav.thin {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  h3 {
    padding: 20px 30px;
    margin-bottom: 40px;
  }

  .container {
    margin: 0 auto;
  }

  .name-title {
    display: block;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
  }

  .name-title > span,
  .name-title > a {
    position: relative;
    line-height: 20px;
  }

  .name-title a {
    font-size: 22px;
    display: block;
  }

  .name-title span {
    display: block;
    font-size: 14px;
  }

  h3,
  .container {
    position: relative;
    top: 64px;
  }

  section#intro {
    margin-bottom: -64px;
  }

  .card .role {
    position: relative;
    right: initial;
    top: initial;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 22px;
    line-height: 200%;
    margin: 30px 0 0;
  }

  #intro.section .container *:not(span) {
    padding: 0;
  }

  #intro.section {
    background-position-x: 30%;
  }
}

/* Link Bar */
.link-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-bar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 80%;
  border: 1px solid white;
}

.link-bar-item:last-child {
  margin-bottom: 0;
}

.link-bar-item img {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
}

.link-bar-item a {
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
  text-align: left;
}

.link-bar-item span {
  margin-left: 10px;
}

.link-bar-item:hover {
  color: #1e5ac9;
  background-color: white;
}

@media (max-width: 768px) {
  .link-bar-item img {
    max-width: 20px;
    max-height: 20px;
  }

  .link-bar-item a {
    font-size: 14px;
  }

  .link-bar-item span {
    font-size: 12px;
  }
}
