@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --textColor: white;
    --font: 'Roboto', sans-serif;
}
html {
  /* Font (Might Adjust More)*/
  font-family: var(--font);
  color: var(--textColor);
  font-size: 1.4em;
  font-weight: 400;
  text-decoration: none;

  background-color: #15113e;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
  margin: 10px auto;
}

img.logo {
  width: 130px;
  height: 130px;
  display: block;
  margin: 20px auto;
}

#title {
  font-weight: 700; /*bold*/
}

#description {
  margin: 20px auto;
}

main {
  width: 100%;
  max-width: 100%;
  margin: 15px auto;
}

a {
  text-decoration: none; /* Removal of text decoration on the a tag */
}

/* Links */
#linkbar {
  /*Link Text*/
  color: var(--textColor);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*Link Border:*/
  border: 2px solid var(--textColor);
  border-radius: 10px;

  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
}

#linkbar:hover {
  background-color: #2c2a5e; /* Maybe just make it black? Or Invert the colours. */
  transform: scale(1.05);
}

img {
  /*Link Image*/
  width: 50px;
  margin-right: 10px;
}

/* Info Stuff */
.info {
  font-size: 24px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s ease;
  font-style: normal;
  line-height: 24px; /* Needs to match font size */
  /* display: inline-block; */ /* Not needed I think */
}

.info:hover {
  background-color: black;
}

.moreInfo {
  background-color: black;
  /* position: absolute; */
  padding: 10px;
  margin-top: 5px;
  max-width: 720px;
  border-radius: 10px;
}

.moreInfo p {
  text-align: left;
}

.moreInfo img#hori {
  width: 100%;
}

.moreInfo img#vert {
  height: 500px;
  width: auto;
}