@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --textColor: white;
    --font: 'Roboto', sans-serif;
}
html {
  /*FONT:*/
  font-family: var(--font);
  color: var(--textColor);
  font-size: 1.4em;
  font-weight: 400;

  /*BACKGROUND:*/
  background-color: #15113e;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
  margin: 10px auto; /*auto - center the linktree*/
}

#logo {
  width: 130px;
  height: 130px;
  display: block;
  margin: 20px auto;
}

#title {
  font-weight: 700; /*bold*/
}

#description {
  margin: 20px auto;
}

main {
  width: 100%;
  max-width: 100%;
  margin: 15px auto;
}

/*LINKS*/
a {
  /*LINKS TEXT*/
  color: var(--textColor);
  text-decoration: none;
  text-align: center;

  /*LINKS BORDER:*/
  border: 2px solid var(--textColor);
  border-radius: 10px;

  display: block; /*each link takes a whole line*/
  margin: 10px;
  padding: 10px;
}